@use "../../presets" as *;
@use "../../mixins" as *;
@use "mixins" as *;

.work {
  display: flex;
  margin-bottom: 150px;
  flex-direction: row-reverse;
  @include ul-min {
    gap: 138px;
  }
  @include ul-lg {
    gap: 60px;
  }
  @include lg {
    gap: $gap-xl;
  }
  @include md{
    flex-direction: column;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
      @include xl-min {
      gap: $gap-sm;
    }
  }
  &__title {
    font-weight: 600;
     line-height: 1.2;
    margin: 0;
    @include xl-min {
      font-size: 50px;
    }
    @include xl-lg {
      font-size: 40px;
    }
    @include lg {
      font-size: 30px;
    }
  }
  &__discription {
    font-size: 20px;
    line-height: 1.5;
    @include xl-min {
      font-size: 20px;
    }
    @include xl {
      font-size: 18px;
    }
    }
  &__button {
    font-weight: 600;
    line-height: 1.5;
    @include xl-min {
      font-size: 20px;
    }
    @include xl {
      font-size: 18px;
    }
  }
  &__picture{
    @include ul-min {
      flex-basis: 632px;
    }
    @include md {
      text-align: center;
    }
  }
  &__image{
    @include md-min {
      width: 100%;
    }
    @include md-sm {
      width: 80%;
    }
    @include sm {
      width: 100%;
    }
  }
}