@use "../../presets" as *;
@use "../../mixins" as *;

.boost-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 25px;

  @include md {
    gap: $gap-sm;
  }
  @include sm {
    gap: 5px;
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    @include md {
      font-size: 25px;
      line-height: 20px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    @include md {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__button {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    }

  &__picture {
    order: -1;
    margin-bottom: 10px;
  }

  &__image {

  }
}