@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  display: grid;
  flex-grow: 1;
  align-content: center;
  padding-top: 128px;
  row-gap: $gap;
  padding-bottom: 173px;

  @include  xl-min {
    grid-template-areas: "ttl pct" "dsc pct" "act pct" "nts pct";
    grid-template-columns: 560px 1fr;
  }
  @include  xl-lg {
    grid-template-areas: "ttl pct" "dsc pct" "act pct" "nts pct";
    grid-template-columns: 1fr 1fr;
  }
  @include  lg {
    grid-template-areas: "ttl" "dsc" "pct" "act" "nts";
    text-align: center;
  }
  &__title {
    grid-area: ttl;
    margin: 0 0 25px;
  }
  &__discription {
    grid-area: dsc;
    line-height: 1.4;
    margin-bottom: 30px;

    @include xl-min {
      font-size: 25px;
    }
    @include xl {
      font-size: 1.25rem;
    }
    @include lg-min {
      padding-right: 70px;
    }
  }
  &__actions {
    grid-area: act;
    display: flex;
    gap: $gap-sm;
    @include lg {
      justify-content: center;
    }
  }
  &__notes {
    grid-area: nts;
    line-height: 1.67;
  }
  &__picture {
    grid-area: pct;
  }
  &__image {
    @include lg-min {
      width: 100%;
      transform: translateX(-20px);
    }
    @include lg {
      width: 50%;
   }
  }
}