$font-family: sans-serif;
$font-size-root: 16px;
$font-size-inherit: 15px;

$xl: 1150px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;

$gap: 20px;
$gap-lg: 30px;
$gap-sm: 15px;
$gap-xl: 40px;
$gap-xs: 10px;