$font-family: "Graphik LCG", sans-serif;
$font-size-root: 16px;
$font-size-inherit: 15px;

$container-width: 1290px;
$container-small: 720px;

$ul: 1330px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;

$gap: 20px;
$gap-lg: 30px;
$gap-sm: 15px;
$gap-xl: 40px;
$gap-xs: 10px;