@use "../../presets" as *;
@use "../../mixins" as *;

.about {
 background-color: $color-bg-footer;
 margin-top: -19px;
 padding-top: 100px;
 padding-bottom: 40px;
 position: relative;
 @include md-ux {
  flex-direction: column;
  gap: 0;
  padding-top: 20px;
}
  &__content {
    display: flex;
    gap: 140px;
    
      @include md {
      flex-direction: column;
      gap: 0;
      align-items: center

    }
  }

}
