@use "../presets" as *;
@use "../mixins" as *;

.container {
  width: min(100% - $gap-xl, $container-width);
  margin-inline: auto;
}
.btn {
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  font-weight: 600;

  &--light {
    background-color: $color-white;
    border-color: rgba($color-black, 0.5);
  }

  &--accent {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-white;
  }
  &--sm {
    width: 120px;
    @include lg-min {
     min-height: 45px;
    }
    @include lg {
      min-height: 40px;
    }
  }
  &--md {
    @include lg-min {
      width: 160px;
      min-height: 60px;
    }
    @include lg {
      width: 150px;
      min-height: 50px;
    }
  }
}
.visually-hidden {
  @include visually-hidden
}